<%= form_for(@sneaker) do |f| %>
  <% if @sneaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sneaker.errors.count, "error") %> prohibited this sneaker from being saved:</h2>

      <ul>
      <% @sneaker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :designer %><br />
    <%= f.text_field :designer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
